<% if current_candidate %>
	<% if current_candidate.invitations.any? %>
	Contact requests for you:<br><br>
	<%= render current_candidate.invitations %>
	<% else %>
	No requests yet.
	<% end %>
<% end %>

<% if current_user %>
	<% if @approved_invitations.any? %>
	<h4>Your accepted requests:</h4>
	<% @invitations = @approved_invitations %>
		<%= render "profiles/accepted_invitations_table" %>
		<br>
	<% end %> 

	<% if @open_invitations.any? %>
	<h4>Your open requests:</h4>
	<% @invitations = @open_invitations %>
		<%= render "profiles/invitations_table" %>
	<% end %>
	<br>
<% end %>

<% unless current_candidate %>
	<%= render "profiles/filter_table"%>
<% end %>


