<div class="row">
  <div class = "span7">
  	<div class ="upper_section">
<h4>Privacy policy</h4>
<br><br>1.	TapCV.com collects personal information when you register or when you provide such information voluntarily.

<br><br>2.	We use cookies and other technologies to find out how you use TapCV.com.

<br><br>3.	TapCV.com accesses information automatically when you visit our site. This information includes URL, IP-address, browser-type, language as well as date and time of your visit.

<br><br>4.	We don't pass on personal information to any third party beyond other TapCV.com users without your explicit approval.

<br><br>5.	Only summarized de-personalized and anonymous information is provided to third parties.

<br><br>6.	Personal information is used for providing services requested by the user including services with personalized content.

<br><br>7.	Additionally, we use your personal information for internal research in order to improve your online experience as well as our technologies and services.
</div>
</div>
</div>


