<table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Highest position</th>
      <th>Platform</th>
      <th>Experience in years</th>
      <th>Highest degree</th>
 

      
    </tr>
  </thead>
    <tbody>
      <%= render :partial => 'profiles/accepted_invitation', :collection => @invitations %>
    </tbody>
</table>