<h4>Search and filter profiles:</h4>
<br>
<div class ="span3">
  <%= render 'queries/form' %>
</div> 
<div class ="span8">
  <%= render 'profiles/table' %>

<%= link_to 'New Profile', new_profile_path %>
</div> 