<div class="row">
<div class ="span8">
	<h3>Find the right hacker for your company's needs.</h3>
	<br>
  <%= render 'profiles/table' %>
</div> 
<div class ="span3">
<br>
	<h4>Search and filter</h4>
	<br>
  <%= render 'queries/form' %>
</div> 
</div>