<div class="row">
<div class ="span8">
	<div class ="hidden-phone">
	<h3>Full-time hackers in the SF Bay Area</h3>
	<br>
	</div>
	<div class ="visible-phone">
	<h4>Full-time hackers in the SF Bay Area</h4>
	</div>
  <%= render 'profiles/table' %>
</div> 
<div class ="span3">
<br>
	<h4>Search and filter</h4>
	<br>
  <%= render 'queries/form' %>
</div> 
</div>