<div class="row">
<div class ="span8">
	<h3>iOS hackers open for new  <br>full-time challenges in the Bay Area</h3>
	<br>
  <%= render 'profiles/table' %>
</div> 
<div class ="span3">
<br>
	<h4>Search and filter</h4>
	<br>
  <%= render 'queries/form' %>
</div> 
</div>