<div class="row">
<div class ="span8">
	<h3>Full-time iOS/Android hackers in the SF Bay Area</h3>
	<br>
  <%= render 'profiles/table' %>
</div> 
<div class ="span3">
<br>
	<h4>Search and filter</h4>
	<br>
  <%= render 'queries/form' %>
</div> 
</div>