<div class="row">
<div class ="span8">
	<h3>Biomedical engineers open for new challenges</h3>
	<br>
  <%= render 'profiles/biomed_table' %>
</div> 
<div class ="span3">
<br>
	<h4>Search and filter</h4>
	<br>
  <%= render 'queries/form' %>
</div> 
</div>