<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest achieved position</th>
      <th>Platform</th>
      <th>Experience in years</th>
      <th>Highest degree</th>
      
    </tr>
  </thead>
    <tbody>
      <%= render :partial => 'profiles/invitation', :collection => @invitations %>
    </tbody>
</table>
