 <div class ="hidden-phone">
<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest position</th>
      <th>Platform</th>
      <th>App building experience</th>
      <th>Total apps</div></th> 
      <th>Highest degree</div></th>
      <th>Bay Area</div></th>
      <th>Your status</div></th>

      
    </tr>
  
  </thead>
    <tbody>
     <%= render @profiles %>
    </tbody>
    
</table>
<%= paginate @profiles %>

</div>

<div class ="visible-phone">
<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest position</th>
      <th>Platform</th>
      <th>App building experience</th>
      
    </tr>
  
  </thead>
    <tbody>
     <%= render :partial => 'profiles/mobile_profile', :collection => @profiles %>
    </tbody>
    
</table>
<%= paginate @profiles %>

</div>