 <div class ="hidden-phone">
<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest degree</th>
      <th>Subject</th>
      <th>School</th>
      <th>Graduation</th>
      <th>Your status</th>

      
    </tr>
  
  </thead>
    <tbody>
     <%= render @profiles %>
    </tbody>
    
</table>
<%= paginate @profiles %>

</div>

<div class ="visible-phone">
<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest degree</th>
      <th>Subject</th>
      <th>School</th>
      <th>Graduation</th>
      
    </tr>
  
  </thead>
    <tbody>
     <%= render :partial => 'profiles/mobile_profile', :collection => @profiles %>
    </tbody>
    
</table>
<%= paginate @profiles %>

</div>