<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest position</th>
      <th>Platform</th>
      <th>App building experience</th>
      <th>Total apps</th>
      
      <th><div class ="hidden-phone">Highest degree</div></th>
      <th><div class ="hidden-phone">Bay Area</div></th>
      <th><div class ="hidden-phone">Your status</div></th>

      
    </tr>
  </thead>
    <tbody>
      <%= render @profiles %>
    </tbody>
</table>
<%= paginate @profiles %>

