<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Latest position</th>
      <th>Platform</th>
      <th>Experience in years</th>
      <th>Degree</th>
      <th>Last update</th>
      
    </tr>
  </thead>
    <tbody>
      <%= render @profiles %>
    </tbody>
</table>

