<table class="table table-striped table-hover">
    <thead>
    <tr>

      <th>Highest position</th>
      <th>Platform</th>
      <th>iOS experience</th>
      <th>Highest degree</th>
      <th>Bay Area</th>
      <th>Last update</th>
      <th>Your status</th>
      
    </tr>
  </thead>
    <tbody>
      <%= render @profiles %>
    </tbody>
</table>
<%= paginate @profiles %>

