<h4>Are you sure you want to request this candidate's contact details?</h4>
	<b>If the candidate approves you will receive the candidates full name,<br> facebook id, and email address and you will be charged US$ 4.95
<br><br>
<%= button_to "Confirm request", :action => "invite" %>

You will get the full amount refunded if any of the information in the anonymous profile<br> turns out to be false.</b>
<br><br>
<%= render "full_profile" %>