<h2>Editing profile</h2>
<br>

<%= render 'form' %>
    
<%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
