<h2>Listing profiles</h2>
<div class ="span4">

</div> 
<div class ="span8">
<table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Objective</th>
      <th>Latest company</th>
      <th>Latest position</th>
      <th>Latest salary</th>
      <th>Degree</th>
      <th>Last update</th>
      <th>Actions</th>
      
    </tr>
  </thead>
    <tbody>
      <%= render @profiles %>
    </tbody>
</table>


<%= link_to 'New Profile', new_profile_path %>
</div> 