<h3>Post your Biomed Engineer CV anonymously.</h3>
<h4>Your identity remains completely hidden.
<% if current_candidate.uid != nil %>
None of this will ever be visible on Facebook.
<%end%>
</h4>
<%= render 'biomed_form' %>

