<h3>Answer a few questions anonymously.</h3>
<h4>Don't worry, your identity remains hidden.</h4> 

<% if current_candidate.uid != nil %>
<h4>None of this information will be visible on Facebook.</h4>
<%end%>
</h4>
<%= render 'form' %>

