<%= simple_form_for(current_user) do |f| %>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <% if current_user.customer_id != nil %>
    <b>Your current payment method:</b><br>
    <% if @cu && @cu.active_card %>
    <%= @cu.active_card.type%>, ending in <%= @cu.active_card.last4 %><br><br>
    <%else %>
    No valid credit card.
    <%end%>

    <button id="customButton">Change payment method</button><br>

  <% else %>
    <button id="customButton">Enter payment method</button>
  <% end %>

  <script>
    $('#customButton').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name=stripeToken />').val(res.id);
        $('form').append($input).submit();
      };

      StripeCheckout.open({
        key:         "<%= Rails.configuration.stripe[:publishable_key] %>",
        name:        'Update your payment method',
        description: 'You will get charged $4.95 USD when a candidate accepts a request by you.',
        panelLabel:  'Save',
        token:       token
      });

      return false;
    });
  </script>
<%end%>