<tr onclick="location.href='<%=invitation_path(invitation)%>';" style="cursor:pointer" title="Click to view full details">
      		

<td><%= link_to invitation.user.company_name, invitation %></td>
<td><%= time_ago_in_words(invitation.created_at) + " ago" %></td>
<td>
	<% if invitation.approval %>
		<b>you accepted</b>
	<% else %>
		<%= button_to "Accept", {:controller => "invitations", :action => "accept", :id => invitation.id}, {:class => "btn btn-medium btn-primary"} %>
	<% end %>
</td>

</tr>