// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";


.logo {
	margin-top: 5px;
	margin-left: -9px;
	a {
	
	margin-left: 5px;
	color: #000;
	font-weight: bold;
	font-size: 1.38462em;
	&:hover {
    
    text-decoration: none;
  }
}
}

.slogan {
	color: #000;
	font-weight: bold;
	font-size: 1.38462em;

}


.container {
    @media (max-width: 767px) { 
  width: 99%;
}
@media (min-width: 768px) { 
  width: 90%;

}
}

footer {
	font-size: 13px;
	margin-left: 5px;
}

.slim_module {
	border-top: 1px solid #e5e5e5;
	padding-top: 30px;
	padding-bottom: 0px;
}

.module {
	border-top: 2px solid #e5e5e5;
	padding-top: 20px;
	padding-bottom: 0px;
}

.fb_disclaimer {
	font-size: 14px;
}

.hero-unit {
      @media (max-width: 979px) { 
        padding: 20px;
        padding-bottom: 32px;        
}
}